.shop-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgba(96, 245, 50, 0.3);
}
@media screen and (max-width:1100) {
    .products-container{
        grid-template-columns: 1fr;
    }
} 

